* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Pacifico;
}

header,
footer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  background-color: lightpink;
}
